:root {
  --primary-color: #111518;
  --accent-color: #455561;
  --font-color: #333;
  --background-color: #eee;
  --link-color: cornflowerblue;
  --primary-font: "Courier New", monospace;
  --body-font-size: 15px;
  --border-bottom-input: 1px dashed rgba(255, 255, 255, 0.25);
  --border-bottom-input-focus: 1px solid rgba(255, 255, 255, 0.75);
  --border-bottom-transition: border-bottom 0.5s ease;
}

[data-theme="dark"] {
  --primary-color: #FF9F1C;
  --accent-color: #7EA3CC;
  --font-color: #eee;
  --background-color: #333;
  --link-color: lightblue;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--primary-font);
  font-size: var(--body-font-size);
  min-height: 100vh;
}

.App {
  text-align: center;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.block {
  width: 100%;
  max-width: 650px;
  object-fit: cover;
}

.primaryHeader {
  text-transform: uppercase;
  color: var(--primary-color);
}

.accentHeader {
  text-transform: uppercase;
  color: var(--accent-color);
}
